<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">ERS Manager</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="employees" class="nav-link">Employees</a>
        </li>
        <li class="nav-item">
          <a routerLink="requests" class="nav-link">Requests</a>
        </li>
        <li class="nav-item">
          <a routerLink="requests/pending" class="nav-link">Pending</a>
        </li>
        <li class="nav-item">
          <a routerLink="requests/resolved" class="nav-link">Resolved</a>
        </li>
      </div>
    </nav>
    <div class="container mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>

