<div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
      <a href="#" class="navbar-brand">ERS Manager</a>
      <div class="navbar-nav mr-auto">
        <li class="nav-item">
          <a routerLink="manager/all-employees" class="nav-link">Employees</a>
        </li>
        <li class="nav-item">
          <a routerLink="manager/requests" class="nav-link">M-Requests</a>
        </li>
        <li class="nav-item">
          <a routerLink="manager/requests/pending" class="nav-link">M-Pending</a>
        </li>
        <li class="nav-item">
          <a routerLink="manager/requests/resolved" class="nav-link">M-Resolved</a>
        </li>

        <li class="nav-item">
          <a routerLink="associate/requests" class="nav-link">A-Requests</a>
        </li>
        <li class="nav-item">
          <a routerLink="associate/requests/pending" class="nav-link">A-Pending</a>
        </li>
        <li class="nav-item">
          <a routerLink="associate/requests/resolved" class="nav-link">A-Resolved</a>
        </li>
        <li class="nav-item">
          <a routerLink="associate/requests/add" class="nav-link">Add Request</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" routerLink="logout">Logout</a>
        </li>

      </div>
    </nav>
    <div class="container mt-3">
      <router-outlet></router-outlet>
    </div>
  </div>

